<table class="table table-bordered">
    <tbody>
      <tr>
        <td>
            <ngx-charts-bar-vertical-stacked
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]=true
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
         </td>
        <td><ngx-charts-advanced-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="data"
              [gradient]="gradient"
              (select)="onSelect($event)">
               </ngx-charts-advanced-pie-chart></td>
      </tr>
    </tbody>
  </table>