@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar.navbar-light {
    background-color: #332d39;
}

.navbar.navbar-light > h1 {
    align-content: center;
    color: white;
}

h4 {
    color: white;
}
