<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
      <div class="alert alert-success" role="alert">
          <b>{{projectName}} Stats:&nbsp;</b>
          <a (click)="getTestStatsUrlByServiceAndStatus(projectName, 'total')" style="color: black"><b><u>Total Tests: {{testSummary.totalTests}}</u></b></a>&nbsp;  
          <a (click)="getTestStatsUrlByServiceAndStatus(projectName, 'passed')" style="color: green;"><b><u>Pass: {{testSummary.totalPass}}</u></b></a>&nbsp; 
          <a (click)="getTestStatsUrlByServiceAndStatus(projectName, 'failed')" style="color: red;"><b><u>Fail: {{testSummary.totalFail}}</u></b></a>&nbsp;  
          <a (click)="getTestStatsUrlByServiceAndStatus(projectName, 'skipped')" style="color: orange;"><b><u>Skipped: {{testSummary.totalSkipped}}</u></b></a>&nbsp;  
          Pass Percentage: {{testSummary.passPercentage}}%,&nbsp;
          Fail Percentage: {{testSummary.failPercentage}}%
      </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Feature Name</th>
          <th scope="col">TestName</th>
          <th scope="col">Status</th>
          <th scope="col">Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of teststats">
          <td scope="row">{{test.index}}</td>
          <td>{{test.featureName}}</td>
          <td>{{test.scenarioName}}</td>
          <td>{{test.status}}</td>
          <td>{{test.failureMessage}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>
  </div> 
</div> 