table thead {
    background-color: rgb(191, 202, 211);
}
table {
    border-spacing: 2px;
    border-color: grey;
}
thead tr {
    font-family: 'Patua One', cursive;
    color: #fff;
    font-weight:400;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99;
}
tbody {
    background-color: whitesmoke;
}